run = "pnpm dev"
entrypoint = "nextjs-dashboard"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_11"
packages = ["cowsay"]

[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

# [[ports]]
# localPort = 3001
# externalPort = 3001
